* {
    font-family: "Inter", serif;
     margin: 0;
     padding: 0;
  }
.main-container {
  background-color: #fff;
   width: 100%;
 
}
.top-container{
  border: 2px solid #000000 ;
   width: 90%;
  margin-top: 47px;
  margin-left: 38px;
}

.top-container h1{
    font-weight: 700;
    font-size: 64px;
    text-decoration: underline;
    text-decoration-skip-ink: false;
    font-style: solid;
    line-height: 77.45px;
    color: #000000;
}
.top-container p{
    margin-top: 20px;
    line-height: 48.41px;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}
.top-container span{
    font-weight: 700;
    font-style: italic;
    color: #000000;

}
.top-container a{
    text-decoration: underline;
    color: #000000;
    text-decoration-skip-ink: false;
}

.middle-container{
  margin-top: 20px;
  margin-left: 58px;
  }
  .middle-container h1 {
     font-size: 64px;
     line-height: 77.45px;
     font-weight: 700;
     text-decoration: underline;
     text-decoration-skip-ink: false;
     color: #000000;

  }
 .middle-container img {
    margin-top: 30px;
    height: 762px;
    width: 1051px;
 }
.middle-container a {
   font-size: 40px;
   font-weight: 400;
   line-height: 48.41px;
   text-decoration: underline;
   color: #000000;
}

.lower-Container{
  width: 50%;
  margin: 24px 57px;

}
.lower-Container h1{
     font-size: 64px;
     line-height: 77.45px;
     font-weight: 700;
     text-decoration: underline;
     text-decoration-skip-ink: false;
     color: #000000;
}
.lower-Container ol li  {
  font-size: 40px;
  font-weight: 400;
  line-height: 48.41px;
  color: #000000;
}